<h5>🧪 Лабы</h5>
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="/">Главная</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#sqlSubmenu" role="button" aria-expanded="true" aria-controls="sqlSubmenu">
            SQL Injection ⬇️
        </a>
        <div class="collapse ps-3" id="sqlSubmenu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/lab/sql_injection/classic">1. Классические</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lab/sql_injection/blind">2. Слепые</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lab/sql_injection/oob">3. Out-of-Band</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lab/sql_injection/bypass">4. Обход WAF</a>
                </li>
            </ul>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link disabled" href="#">XSS (в разработке)</a>
    </li>
</ul>
